%h1.page-heading= "Rating Panels for #{@image.title}"

- if @image.rating_panels.empty?
  .alert no rating panels for this image

- @image.rating_panels.each do |panel|
  .row-fluid.panel-listing
    %h1= panel.name
    %p= panel.description
  %hr

%button.btn= link_to "New Panel", new_image_rating_panel_path(@image)
