%h1 All Images

- @images.each do |image|
  .row-fluid.image-listing
    %h1= image.title
    %div= image_tag image.image.url, class: 'img-polaroid center'
    %div
      %noscript= "rating: #{image.rating}"
      %rating{:'current-rating' => image.rating.to_s, :action => image_ratings_path(image), :'vote-count' => image.ratings.count.to_s, :'show-stats' => '1' }
      %noscript
        =form_for [image, image.ratings.build] do |f|
          =f.select(:value, (0..10))
          =f.submit 'Rate'
    %p= image.description
    .btn-group
      %button.btn= link_to 'Show', image
      %button.btn= link_to 'Edit', edit_image_path(image)
      %button.btn= link_to 'Destroy', image, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %hr

%br

= link_to 'New Image', new_image_path
