%h1 All Images

- @images.each do |image|
  .row-fluid
    %h1= image.title
    %div= image_tag image.image.url
    %td= "rating: #{image.ratings}"
    %p= image.description
    .btn-group
      %button.btn= link_to 'Show', image
      %button.btn= link_to 'Edit', edit_image_path(image)
      %button.btn= link_to 'Destroy', image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Image', new_image_path
