<!DOCTYPE html>
<html ng-app="pictpick">
<head>
  <title>PictPick</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-static-top">
  <nav class="navbar-inner">
    <%= render 'layouts/navbar' %>
  </nav>
</div>
<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
